:root {
    /* Colors */
--Green-500: hsl(171, 66%, 44%);
--Blue-100: hsl(233, 100%, 69%);
--Gray700: hsl(210, 10%, 33%);
--Gray-500: hsl(201, 11%, 66%);
}
    /*font family*/
@font-face {
    font-family: "Bai Jamjuree";
    src: url(../font/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}